= simple_form_for(@session) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :email, placeholder: 'Enter email' 
    = f.input :password, autocomplete: "off"

  .form-actions
    = f.button :submit, 'Log in'
