= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :username
    = f.input :email, placeholder: 'Enter email' 
    = f.input :password
    = f.input :password_confirmation
  	= recaptcha_tags
	
  .form-actions#login_btn
    = f.button :submit, 'Sign up'
