#myCarousel.carousel.slide data-ride="carousel" 
  /! Indicators
  ol.carousel-indicators
    li.active data-slide-to="0" data-target="#myCarousel" 

  /! Wrapper for slides
  .carousel-inner#homepage_background.container
    .item.active
      	= image_tag("home_buyproduct.jpg", :alt => "music background" , class: "img-responsive")
      	button.btn#btn_buyproduct
            | Buy Products

