= form_for @product, html: {multipart: true} do |f|
  - if @product.errors.any?
    #error_explanation
      h2 = "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      ul
        - @product.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category
    = f.select :category, Product::CATEGORY, prompt: "Select category:"
  .field
    = f.label :brand
    = f.select :brand, Product::BRAND, prompt: "Select brand:"
  .field
    = f.label :description
    = f.text_area :description
	.field
    = f.label :price
    = f.number_field :price
  .field
  	= f.label :image
  	= f.file_field :image
  		- if f.object.image?
  			= image_tag f.object.image.thumb.url
  .actions = f.submit
