- @products.each do |product|
  #product-box.border-dark.col-sm-5.col-md-3
    .thumbnail
      = link_to product.image.url do
        = image_tag(product.image.url, :size => "200x200")
		.pa4
			#product_name_index
				= product.name
			#product_info
				p
					strong Brand: 
					= product.brand
				p
					strong Category: 
					= product.category
				p
					strong Description: 
					= product.description
				p
					strong Price: 
					= number_to_currency(product.price, :unit=>'€ ')
