p#notice = notice

p
  strong Name:
  = @product.name
p
  strong Brand:
  = @product.brand
p
  strong Description:
  = @product.description
p
  strong Category:
  = @product.category
p
  strong Price:
  = @product.price
  
p
	strong Image:
	= image_tag @product.image_url

=> link_to 'Edit', edit_product_path(@product)
'|
=< link_to 'Back', products_path
