header
	.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			ul.nav.navbar-nav
				li.active
					li= link_to "Home", root_path
					li= link_to "About us", pages_about_path
					li = link_to "Products", products_path
					- if logged_in? && (can? :create, @product)
						li = link_to "Create Product", new_product_path
			ul.nav.navbar-nav.navbar-right
				- if logged_in?
					li.dropdown
						a.dropdown-toggle data-toggle="dropdown" href="#"
							= current_user.username
							span.caret
						ul.dropdown-menu
							li = link_to content_tag(:span, nil, :class => "glyphicon glyphicon-log-out") + " Logout", logout_path, method: :delete
				- else
					li = link_to content_tag(:span, nil, :class => "glyphicon glyphicon-user") + " Signup", signup_path
					li = link_to content_tag(:span, nil, :class => "glyphicon glyphicon-log-in") + " Login", login_path
