doctype html
html
	head
		meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
		title 
    		=> full_title(yield(:title))
		= csrf_meta_tags
		= csp_meta_tag
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
	body
		- flash.each do |type, message|
			div class="alert alert-#{type}"
				= message
		= render 'layouts/navigation'
		= yield
